# default PR reviews to the team
* @hashicorp/consul-selfmanage-maintainers

# release configuration
/.release/                              @hashicorp/consul-selfmanage-maintainers
/.github/workflows/build.yml            @hashicorp/consul-selfmanage-maintainers
