# default PR reviews to the team
* @hashicorp/team-consul-india

# release configuration
/.release/                              @hashicorp/release-engineering @hashicorp/github-consul-ecosystem
/.github/workflows/build.yml            @hashicorp/release-engineering @hashicorp/github-consul-ecosystem
