# default PR reviews to the team
* @hashicorp/team-consul-india @hashicorp/consul-selfmanage-maintainers

# release configuration
/.release/                              @hashicorp/team-selfmanaged-releng @hashicorp/consul-selfmanage-maintainers
/.github/workflows/build.yml            @hashicorp/team-selfmanaged-releng @hashicorp/consul-selfmanage-maintainers
