# release configuration

/.release/                              @hashicorp/release-engineering @hashicorp/hc-github-team-consul-ecosystem
/.github/workflows/build.yml            @hashicorp/release-engineering @hashicorp/hc-github-team-consul-ecosystem
