name: ci

on:
  pull_request:
  push:
    branches:
      - main
      - release/**

env:
  CONSUL_LICENSE: ${{ secrets.CONSUL_LICENSE }}

jobs:
  run-tests:
    name: Run test cases (with consul${{ matrix.consul-ent-tag }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        go: [^1]
        consul-ent-tag: ["", "-enterprise"]

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go }}
          cache: false

      - name: Install Consul${{ matrix.consul-ent-tag }}, Vault and Nomad for integration testing
        run: |
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
          sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
          sudo apt-get update && sudo apt-get install consul${{ matrix.consul-ent-tag }} vault nomad

      - name: Run tests
        run: |
          make test-race
